@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Anek Malayalam', sans-serif;
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
}
.q-container{
  width: 70%;
  margin: auto;
  text-align: center;
}
.q-img{
  width: 100%;
  margin: auto;
  height: 80px;
}
.options{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 0;
}
.options>img{
  width: 100%;
  height: 80px;
}
.res{
  font-size: 22px;
  font-weight: 600;
}